# Binaries
/bin/
*.exe
*.out
*.test

# Go modules
/go.sum
/go.mod

# Temporary files
*.log
*.tmp
*.swp
*.swo

# Compiled protobuf files (optional, if regenerated frequently)
generate/
generate/proto/*.pb.go
generate/proto/*_grpc.pb.go

# Editor-specific files
.vscode/
.idea/
*.iml

# OS-specific files
.DS_Store
Thumbs.db

# Test coverage reports
*.cover
coverage.out

# Debugging files
trace.out
heap.out
cpu.out

# Docker & Kubernetes (optional)
docker-compose.override.yml
/.docker/
